Sender display name not displayed if legacy RFC5322.From is used

The sender's display name is not shown, if the format of the "From: " header is in a legacy addr-spec format (see RFC 5322, section 3.4, page 17):

From: user@example.com (John Doe)


This is not the name, this is a comment, which's meaning is unspecified.
```
 Note: Some legacy implementations used the simple form where the
      addr-spec appears without the angle brackets, but included the
      name of the recipient in parentheses as a comment following the
      addr-spec.  Since the meaning of the information in a comment is
      unspecified, implementations SHOULD use the full name-addr form of
      the mailbox, instead of the legacy form, to specify the display
      name associated with a mailbox.  Also, because some legacy
      implementations interpret the comment, comments generally SHOULD
      NOT be used in address fields to avoid confusing such
      implementations
```
I think we should not spend time on supporting such legacy/unspecified format.

Ok, sorry for the delay, but I disagree, as at least two current programs use this syntax:
The MUA called ELM, and the unix tool to send email from the command line (often used by cron jobs): mailx.

Both generate a RFC5322.From with the display name in a comment. For a prominent user of ELM see Wietse Venema on the postfix ML.

We accept patches.

Fair enough :-)
Let's see if my limited PHP skills are sufficiant to find a solution.

I'm not sure it'd be all but start with rcube_mime::parse_address_list().

Yes, already in there. Have something working, but not yet ready for the public.

Ok, here is the path:
[issue5402-patch.txt](https://github.com/roundcube/roundcubemail/files/600117/issue5402-patch.txt)

$email_rx matches 3 times, therefore $m[4] is used for $name.

Could you create a pull request? Also, would be good to add some test cases to https://github.com/roundcube/roundcubemail/blob/master/tests/Framework/Mime.php

Will do so, but forget the above patch - it was a bit too optimistic.