Feature request: support public PGP keys in contacts

Hi,

sharing and storing public PGP keys is the big show stopper in email end-to-end encryption.

The [IETF RFC 6350](https://tools.ietf.org/html/rfc6350) defines the VCard format. Section 6.8.1 explicitly lists an example how to store public PGP keys in VCards. Using the combination of public PGP keys in contacts according to [IETF RFC 6350 Section 6.8.1](https://tools.ietf.org/html/rfc6350) and regular scans for new and updated keys with [Net_DNS2](https://netdns2.com/) according to [IETF RFC 7929](https://tools.ietf.org/html/rfc7929) provides the users with all necessary means to send encrypted e-mails - even on their mobile devices via CardDAV.

The PHP-library [Net_DNS2](https://netdns2.com/) supports OpenPGPkey lookups. You can install it with [Pear](https://pear.php.net/package/Net_DNS2) or manually from [Github](https://github.com/mikepultz/netdns2). You need to include the class 'netdns2/Net/DNS2.php' (or '/usr/share/php/Net/DNS2.php' with Pear on Ubuntu) in your code. See the [code example](https://netdns2.com/documentation/examples/#Lookup_OpenPGPKey_Record).

The german email providers [Core Networks](https://www.core-networks.de/), [mail.de](https://mail.de) and [Posteo](https://posteo.de/) already publish OpenPGPkey-records. If you want to test your [Net_DNS2](https://netdns2.com/) integration you can look up the email-addresses info@core-networks.de, support@mail.de and support@posteo.de with [Net_DNS2](https://netdns2.com/). The result can be compared at [OPENPGPKEY.info](https://openpgpkey.info/)

Storing PGP keys (and S/MIME certs) in contacts would not be a big problem and we should implement this at some point. How this data is managed/updated is another story and calls for a plugin.
Of course Enigma plugin (and Mailvelope) would need to know how to use this data.

Surely the ideal solution bypasses 'contacts' in address book entirely. If (providing you have PGP key setup) you type any email address into To: / Cc: / Bcc: field, roundcude should validate it as valid email address, and then attempt to look up pgp public key for that email address. If the public key is found it should format the email address such that it has a little padlock symbol at the end and then encrypt+sign email by default. If a public key can't be found a different symbol should be displayed (prehaps '!') and if you hover over it it should say "PGP public key not found - Please add public key for this person to your contacts".