RFC6331: Moving DIGEST-MD5 to Historic

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677


So, the options are:
1. Remove support for DIGEST-MD5.
2. Support DIGEST-MD5, but only as an option that have to be set by the user. Now, when auth_method is not set and server advertises DIGEST-MD5 support (among others) we'll choose DIGEST-MD5.
3. Do nothing.

Which option we will choose, might depend on availability of SCRAM method support.

We'll go with the option 3.

@alecpl: Ok...

Any news but for SCRAM compatibility?
- https://github.com/roundcube/roundcubemail/issues/6917

@alecpl: I have added the last RFC in the description: RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2:
- https://tools.ietf.org/html/rfc9051

I wish you a good reading ^^

Time to add ;)