Roundcube doesn't understand RFC2822 'group' addresses (foo:;)

I have encountered parsing issues with To/CC headers which include a `group:` label as defined in RFC2822 section 3.4 (https://tools.ietf.org/html/rfc2822.html#section-3.4).

Empty group addresses
=

Request Tracker (RT), in our reasonably normal installation, generates mail with headers such as:

```
To: "AdminCc of RT Ticket #123456":;
Reply-To: rt@example.com
```

This 'To' header is a legal group address per RFC2822 section 3.4.  Semantically, `AdminCc of RT Ticket #123456` is a display-name for an empty group of addresses.

If I 'Reply All' to such an email from Roundcube, the headers in the compose window are filled as follows:

```
To: rt@example.com
Copy: "AdminCc of RT Ticket #123456":
```

Note lack of trailing `;` in the pre-filled Copy field, which renders it syntactically invalid.

Then if I try to send this email, I get an 'Invalid email address' error from Roundcube.

If I try to manually re-add the missing `;` character, something in the UI JavaScript removes it again as soon as I leave the field.

Non-empty group addresses
=

If I manually compose email in Roundcube using the group address syntax, for example:

```
To: "my group": foo@example.com, bar@example.com;
```

Roundcube mangles it, treating as "My group:" as the name associated with `foo@example.com`; the emitted email contains e.g.:

```
To: "\"my group\":" <foo@example.com>, bar@example.com
```

Groups aren't supported. We might fix the issue in a way that the group is not put into the Cc field. Anything more would be much more complicated.

> Groups aren't supported. We might fix the issue in a way that the group is not put into the Cc field. Anything more would be much more complicated.

Thanks.  Not putting an empty group into the Cc field would solve most of my problems.

Fixed.