rcube_imap_generic::authenticate incorrect SASL GSSAPI negotiation 

I was setting up Roundcube to proxy Kerberos credentials to a Cyrus IMAP server and noticed that the `authenticate` method in `rcube_imap_generic` has a bug in the SASL GSSAPI negotiation.

In the second part of the negotiation, the current code receives a token from the server (`$challenge`) and sends the content of that token back as-is. However, this token is not (only) a challenge but indicates the server's supported SASL security layers. Instead of echoing back the payload, the client must construct its own proposal and send that.

The current code works if the server doesn't support SASL security layers, in which case the proposals will be identical. However, Cyrus products support SASL encryption and integrity layers and get confused when the client tells them that it wants both encryption and no-encryption.

The attached patch against 1.3.6 fixes this. It should follow RFC 4752, but I don't have anything besides Cyrus to test this with. Looks like the recent managasieve support in `master` contains the same issue. I can probably put together a PR against `master` later if this fix looks reasonable, though I'm running release code myself.

I also added error checking of `krb5` function call results, since they don't raise exceptions in most  cases.

```
--- roundcubemail-1.3.6/program/lib/Roundcube/rcube_imap_generic.php	2018-04-11 14:13:47.000000000 +0300
+++ rcube_imap_generic.php	2018-05-26 23:57:01.024375880 +0300
@@ -636,6 +636,9 @@
 
                 $token   = '';
                 $success = $gssapicontext->initSecContext($this->prefs['gssapi_context'], null, null, null, $token);
+		if (!$success)
+                    throw new Exception("GSSAPI security context init failed");
+
                 $token   = base64_encode($token);
             }
             catch (Exception $e) {
@@ -652,9 +655,26 @@
             }
 
             try {
-                $challenge = base64_decode(substr($line, 2));
-                $gssapicontext->unwrap($challenge, $challenge);
-                $gssapicontext->wrap($challenge, $challenge, true);
+                // Input token is the SASL layers supported by the server.
+                // See RFC 4752 section 3.1.
+                $itoken = base64_decode(substr($line, 2));
+                if (!$gssapicontext->unwrap($itoken, $itoken))
+                    throw new Exception('GSSAPI SASL input token unwrap failed');
+
+                if (strlen($itoken) < 4)
+                    throw new Exception('GSSAPI SASL input token invalid');
+                $server_layers = ord($itoken[0]);
+                // Integrity/encryption layers are not supported. The first bit
+                // indicates that the server supports "no security layers".
+                // 0x00 should not occur, but support broken implementations.
+                if ($server_layers != 0 && ($server_layers & 0x1) != 0x1)
+                    throw new Exception('Server requires GSSAPI SASL integrity/encryption');
+
+                // Construct output token. 0x01 in the first octet = SASL layer "none",
+                // zero in the following three octets = no data follows.
+                // See https://github.com/cyrusimap/cyrus-sasl/blob/e41cfb986c1b1935770de554872247453fdbb079/plugins/gssapi.c#L1284
+                if (!$gssapicontext->wrap(pack("CCCC", 0x1, 0, 0, 0), $otoken, true))
+                    throw new Exception('GSSAPI SASL output token wrap failed');
             }
             catch (Exception $e) {
                 trigger_error($e->getMessage(), E_USER_WARNING);
@@ -662,7 +682,7 @@
                 return self::ERROR_BAD;
             }
 
-            $this->putLine(base64_encode($challenge));
+            $this->putLine(base64_encode($otoken));
 
             $line   = $this->readReply();
             $result = $this->parseResult($line);
```

@urusha As you worked recently on GSSAPI support, I'd like to ask for your opinion about this ticket. This may have an impact on Sieve and SMTP code as well. I'm not SASL/GSSAPI expert.

I use the Samba KDC so effectively Heimdal. This isn't directly related to Kerberos though (though GSSAPI with non-Kerberos mechanisms pretty much only occurs on Windows), the SASL negotiation is on a higher layer. The issue is that Cyrus products enable SASL features like integrity and confidentiality support that pretty much no one else implements, and they require the client to correctly say "no thanks" to using those features.

Exim probably doesn't enable any of that stuff, so the issue that this patch fixes isn't visible there (the server proposes only "no integrity/confidentiality" so just copying the proposal is a valid client response).

I committed the change. If you confirm this is working, we could apply the same to Net_Sieve and Net_SMTP.

Nice, I'll check it out this week.

ugh, managed to totally forget about this, sorry about that. Anyway, tested with `master` now and working fine with Cyrus IMAP.